.custom-day {
   text-align: center;
   padding: 0.185rem 0.25rem;
   display: inline-block;
   height: 2rem;
   width: 2rem;
}
.custom-day.disabled{
  background-color: rgba(148,187,233,0.5);
  color: whitesmoke;
}

.custom-day.disabled.range{
  background-color: #dc3545;
}

.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(238,174,202);
  color: white;
}
.custom-day.faded {
  background-color: rgba(238,174,202, 0.5);
}
