.btn-pink{
  background-color: rgb(238,174,202);
}

.card{
  background-color: rgba(148,187,233,0.1);
}

.container{
  margin-top: 20vh;
}

input.ng-invalid.ng-touched{
  border: #dc3545 1px solid;
}

input.ng-valid.ng-touched{
  border: #28a745 1px solid;
}


input.invalid.ng-touched{
  border: #dc3545 1px solid;
}
