<div class="w-100 p-5 page-footer">
  <div class="row text-center">
    <div class="col-6">
      <span class="text-uppercase">Pensojonat bekas</span> <br>
      <span>HOTEL</span><br>
      <br>
      <span>NASZ ADRES</span> <br>
      <span>93-590 Łódź,</span><br>
      <span>Al. Politechniki 19A</span><br>
      <br>
      <span>Choose Language:</span><br>
      <img  class="d-inline mr-2" src="assets/images/en.png" alt="English">
      <img  class="d-inline" src="assets/images/pl.png" alt="Polish">
    </div>
    <div class="col-6">
      <span>RECEPCJA</span><br>
      <span>BEZPOŚREDNI KONTAKT</span><br>
      <br>
      <span>42 684 63 70</span><br>
      <span>42 648 76 04</span><br>
      <br>
      <span>recepcja@hotel-bekas.pl</span><br>
      <br>
      <img class="mr-2" src="assets/images/fbs.png" alt="Facebook">
      <img src="assets/images/hand.png" alt="Hand"> Lubię to!
    </div>
  </div>
</div>
