<div class="h-100 bg-div" style="background-image: url(assets/images/hotel-mazury.jpg)">
  <div class="content d-flex justify-content-center align-items-center flex-column">
    <blockquote class="blockquote">
      <p class="mb-0 cite-text">U nas... <br> Stać cię na mazury</p>
    </blockquote>
    <div class="w-50 text-center">
      <input class="btn w-25 text-center btn-light border-0" type="button" value="Kontakt" [routerLink]="['/contact']">
      <input class="btn w-25 text-center btn-light ml-5 border-0" type="button" value="Szukaj pokoju" [routerLink]="['/home']">
    </div>
  </div>
</div>
